body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #455d7a;
}

div {
    background-color: #233142;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    align-items: center;
    justify-items: center;
}

input {
    grid-column: span 4;
    width: 100%;
    height: 50px;
    font-size: 1.5em;
    text-align: right;
    margin-bottom: 10px;
    border: 2px solid orangered;
    border-radius: 5px;
    padding: 5px;
    background-color: #222;
    color: white;
}

button {
    height: 60px;
    width: 60px;
    font-size: 1.2em;
    font-weight: bold;
    border: 2px solid orangered;
    border-radius: 50%;
    background-color: rgb(167, 166, 166);
    color: black;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: dimgrey;
    color: aliceblue;
}

button:active {
    transform: scale(0.9);

}
